/* ------ Testing Responsive Mobile Design ------ */

/* FOR MOBILE PHONES AND IPADS *//* FOR MOBILE PHONES AND IPADS *//* FOR MOBILE PHONES AND IPADS *//* FOR MOBILE PHONES AND IPADS */
/* FOR MOBILE PHONES AND IPADS *//* FOR MOBILE PHONES AND IPADS *//* FOR MOBILE PHONES AND IPADS *//* FOR MOBILE PHONES AND IPADS */
/* FOR MOBILE PHONES AND IPADS *//* FOR MOBILE PHONES AND IPADS *//* FOR MOBILE PHONES AND IPADS *//* FOR MOBILE PHONES AND IPADS */
@media screen and (max-width: 767px) {

  #mobile-panel-container {
    padding-left: 0px;
  }

  #mobile-panel {
    width: 100% !important;
    height: 20vh !important;
    position: fixed;
    z-index: 5 !important;
    overflow-x: none !important;
    bottom: -9% !important;
    pointer-events: none;
  }

  #mobile-panel::after {
    content: "";
    clear: both;
    display: table;
  }

  #mobile-toc-row {
    background-color: #000033 !important;
  }

  #mobile-toc-column {
    float: left;
    width: 25%;
    padding: 5px;
    visibility: visible !important;
    pointer-events: all !important;
    background-color: #000033 !important;
  }

  #mobile-toc-column img:active {
    opacity: .4 !important;
    transition: .2s ease !important;
  }

  .ToCPanel {
    visibility: hidden;
    pointer-events: none;
    max-width: 0% !important;
  }

  #infoPanel {
    width: 100% !important;
    border-radius: 10px !important;
  }

  /* MOBILE WELCOME CONTAINER */
  .mainContainer {
    width: 100%;
    border-radius: 10px !important;
  }

  #welcomeContainer {
    width: 100%;
    border-radius: 10px !important;
  }

  .welcomeText {
    padding-top: 5vh !important;
    width: 90% !important;
    font-size: 30pt !important;
  }

  .mobile-Pfp{
    visibility: visible !important;
    bottom: 25vh !important;
  }

  .mobile-mediaRow {
    visibility: visible !important;
    z-index: 5 !important;
    bottom: 12vh !important;
  }

  .mobile-mediaColumn {
    float: left;
    width: 33.33%;
    padding: 5px;
    visibility: visible !important;
    pointer-events: all !important;
    z-index: 10 !important;
  }

  .mobile-mediaRow::after {
    content: "";
    clear: both;
    display: table;
  }

  .mobile-socialmedia {
    visibility: visible !important;
    pointer-events: all !important;
    z-index: 11 !important;
  }

  .mobile-socialmedia img:active {
    opacity: .5 !important;
    transition: .3s ease !important;
  }


  /* MOBILE PORTFOLIO */

#mobilehint {
  font-size: 10pt !important;
  padding-left: 4% !important;
  color: #000033 !important;
  visibility: visible !important;
  font-family: Quicksand !important;
}

/* Portfolio Row 1 */

  .Portfolio-Wrapper1 {
    width: 100% !important;
    overflow-x: scroll;
    white-space: nowrap !important;
  }

  .portfolioRow1 {
    width: 275% !important;
    overflow-x: scroll !important;
    white-space: nowrap !important;
  }

  #JapanBike-Thumb {
    width: 100% !important;
    padding-left: 0% !important;
  }

  #VAProject-Thumb {
    width: 100% !important;
  }

  #Bioshock-Thumb {
    width: 100% !important;
  }

/* Portfolio Row 2 */
  .Portfolio-Wrapper2 {
    width: 100% !important;
    overflow-x: scroll;
    white-space: nowrap !important;
  }

  .portfolioRow2 {
    width: 275% !important;
    overflow-x: scroll !important;
    white-space: nowrap !important;
  }

  #JapanVacation-Thumb {
    width: 90% !important;
    padding-left: 0% !important;
  }

  #Africa-Thumb {
    width: 105% !important;
  }

  #JapanProp-Thumb {
    width: 90% !important;
  }

/* Portfolio Row 3 */
  .Portfolio-Wrapper3 {
    width: 100% !important;
    overflow-x: scroll;
    white-space: nowrap !important;
  }

  .portfolioRow3 {
    width: 280% !important;
    overflow-x: scroll !important;
    white-space: nowrap !important;
    padding-left: 5% !important;
  }

  #WWIIEurope {
    border-radius: 10px;
    padding-top: 10vh !important;
  }

  #WWIIEurope-Thumb {
    width: 100% !important;
    border-radius: 10px !important;
  }

  #JapanInteractive-Thumb {
    width: 100% !important;
  }


  /* MOBILE FOR OTHER PAGES */

  #mapPanel {
    width: 100% !important;
    border-radius: 10px !important;
    overflow-y: scroll !important;
  }

  #japanVacationContainer {
    height: 80vh !important;
  }

  .japanRow {
    padding-top: 15vh !important;
  }

  #AfricaMap {
    padding-top: 2vh !important;
    width: 90% !important;

  }

  #JapanProp {
    padding-top: 1vh !important;
    width: 95% !important;
  }

  #VAProject {
    width: 90% !important;
  }

  #JapanVacationMap {
    width: 90% !important;
  }

  #WWIIMap {
    width: 98% !important;
    padding-top: 25%;
  }

  #JapanInteractiveMap {
    padding-top: 3vh !important;
    width: 97% !important;
  }

  .japanRow {
    padding-top: 1vh !important;
    overflow-y: scroll !important;
  }

  .japanColumn {
    padding-left: 25px !important;
    width: 95% !important;
    overflow-y: scroll !important;
    padding-top: 1vh !important;
  }

  /* MOBILE RESUME */
  #UW {
    width: 15% !important;
  }

  #TCU {
    width: 15% !important;
  }

  /* MOBILE ABOUT ME */

  .aboutmeTitle {
    font-size: 16pt !important;
  }

  .aboutmePara {
    font-size: 14pt !important;
    padding-left: 8% !important;
    padding-right: 6% !important;
  }

  .favorites-title {
    font-size: 16pt !important;
    font-family: Quicksand !important;
  }

  .AboutMe-Wrapper1 {
    width: 100% !important;
    overflow-x: scroll;
    white-space: nowrap !important;
  }

  .aboutmeRow1 {
    width: 275% !important;
    overflow-x: scroll !important;
    white-space: nowrap !important;
  }

  #Switzerland {
    padding-top: 3vh !important;
  }

  #camp {
    padding-top: 2.5vh !important;
  }

  #TCUGrad1 {
    padding-top: 1vh !important;
  }

  /* MOBILE FAVORITES */

  .Fave-Wrapper {
    width: 100% !important;
    overflow-x: scroll;
    white-space: nowrap !important;
  }

  .fave-row {
    width: 275% !important;
    overflow-x: scroll !important;
    white-space: nowrap !important;
  }

  #Rules-Thumb {
    width: 95% !important;
  }

  #Fahrenheit-Thumb {
    width: 90% !important;
  }

  #Martian-Thumb {
    width: 93% !important;
  }

  #Paradox-Thumb {
    width: 93% !important;
  }

  #AllQuiet-Thumb {
    width: 85% !important;
  }

  #CloneWars-Thumb {
    width: 80% !important;
  }

  #MyHero-Thumb {
    width: 80% !important;
  }

  #GOT-Thumb {
    width: 81% !important;
  }

  #Naruto-Thumb {
    width: 81% !important;
  }

}
