html {
  scroll-behavior: smooth;
}

/* mobile css formerly here */

#mobile-panel {
  visibility: none;
}

#mobile-panel::after {
  visibility: none;
}

#mobile-toc-row {
  visibility: none;
}

#mobile-toc-column {
  visibility: none;
}


/*  S T A R T   O F   D E S K T O P   S T Y L E S */

                /* ------ Main Div ------ */
.mainContainer {
  overflow: hidden;
  height: 100vh;
}

/* Table of Contents */
.ToCPanel {
  max-width: 25%;
  width: 25%;
  height: 100vh;
  flex: 100%;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #000033;
  overflow-x: hidden;
  padding-right: 17px;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -ms-overflow-style: none;
  visibility: visible !important;
  z-index: 10 !important;
}

/* Hidden Scroll for Chrome/Safari */
.ToCPanel::-webkit-scrollbar {
  display: none;
}

.Pfp {
  width: 50%;
  padding-top: 40px;
}

.mobile-Pfp{
  position: absolute;
  visibility: hidden;
}

.mediaColumn {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.mediaRow {
  padding-top: 20px;
}

.mobile-mediaRow {
  visibility: hidden;
  position: absolute;
}

.mobile-mediaColumn {
  visibility: hidden;
}

.mobile-socialmedia {
  visibility: hidden;
}

.mediaRow::after {
  content: "";
  clear: both;
  display: table;
}

.tableOfContents {
  font-size: 16pt;
  font-family: Quicksand;
  padding-top: 40px;
  font-style: bolder;
  text-decoration: none;
}

#pagelinks {
  color: #fff;
  text-decoration: none;
}

.tableOfContents p:hover {
  color: cyan;
  transition: 0s ease;
}

#footer{
  font-family: Quicksand;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  color: white;
  font-size: 8px;
  padding-right: 980px
}

            /* -------- About/Resume/Portfolio -------- */
#infoPanel {
  position: relative;
  float: right;
  flex: 75%;
  width: 75%;
  height: 100vh;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 0;
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: .3;
}

#welcomeContainer {
  width: 100%;
  height: 99vh
}

.welcomeText {
  color: white;
  font-family: Quicksand;
  padding-top: 21%;
}

.title {
  color: #333366;
  font-family: Quicksand;
  text-align: left;
  padding-left: 3%;
  font-size: 30pt;
}

#mobilehint {
  visibility: hidden;
}

.aboutMe {
  padding-left: 2%;
}

.aboutmeTitle {
  font-size: 15pt;
  color: #333366;
  font-family: Quicksand;
}

.favorites-title {
  font-size: 20pt;
  font-family: Quicksand;
  color: #333366;
}

.aboutMeText {
  color: #333366;
  font-family: Quicksand;
  padding-left: 3%;
  padding-right: 3%;
}

.aboutmePara {
  padding-left: 4%;
  font-family: Quicksand;
  color: #333366;
  font-size: 12pt;
}

.aboutMeLists {
  padding-left: 4%;
  line-height: 30pt;
}

.aboutMeList {
  color: #333366;
  font-family: Quicksand;
  padding-left: 7%;
  padding-right: 3%;
}

#bookList {
  padding-left: 0 !important;
}

        /* RESUME */
.resumeTitle {
  color: #333366;
  font-family: Quicksand;
  padding-left: 5%;
  padding-right: 3%;
  font-size: 18pt;
}

.resumeText {
  color: #333366;
  font-family: Quicksand;
  padding-left: 7%;
  padding-right: 3%;
  font-size: 12pt;
}

        /* PORTFOLIO */
.portfolioColumn {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.portfolioColumn img {
  border-radius: 8px;
}

.portfolioRow1 {
  padding-top: 20px;
}

.portfolioRow2 {
  padding-top: 20px;
}

.portfolioRow3 {
  padding-top: 20px;
  padding-left: 40px;
}

.portfolioRow1::after {
  content: "";
  clear: both;
  display: table;
}

.portfolioRow2::after {
  content: "";
  clear: both;
  display: table;
}

.portfolioRow3::after {
  content: "";
  clear: both;
  display: table;
}

.brightness {
    display: inline-block;
    width: auto;
}

.brightness img:hover {
    border:2.5px solid #333366;
    box-shadow: 0 0 10px #333366;
    -webkit-box-shadow: 0 0 10px #333366;
    -moz-box-shadow: 0 0 10px #333366;
    -o-box-shadow: 0 0 10px #333366;
    -ms-box-shadow: 0 0 10px #333366;
    opacity: .8;
    transition: .2s ease;
}

.home {
  display: inline-block;
  width: auto;
}

.home img:hover {
  opacity: .4;
  transition: .4s ease;
}

.socialmedia {
  display: inline-block;
  width: auto;
}

.socialmedia img:hover {
  opacity: .5;
  transition: .3s ease;
}

#WWIIEurope {
  border-radius: 10px;
  padding-top: 3vh;
}

#WWIIEurope-Thumb {
  border-radius: 10px !important;
}

        /* PORTFOLIO PAGES */
#mapPanel {
  position: relative;
  float: right;
  flex: 75%;
  width: 75%;
  height: 100vh;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 0;
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: .3;
}

#mapContainer {
  background-color: #4e54c8;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

#japanContainer {
  background-color: #4e54c8;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
}

#japanVacationContainer {
  background-color: #4e54c8;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

#japanIntContainer {
  background-color: #4e54c8;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

#mapbox {
  padding-top: .5%;
}

#bioshockContainer {
  background-color: #4e54c8;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

.japanColumn {
  float: left;
  width: 50%;
  padding: 5px;
}

.japanRow::after {
  content: "";
  clear: both;
  display: table;
}

.japanRow {
  padding-top: 3%;
}

/* ABOUT ME STYLES */

.aboutmeColumn {
  float: left;
  width: 25%;
  padding: 5px;
}

.aboutmeColumn img {
  border-radius: 5px;
}

.aboutmeRow1 {
  padding-top: 10px;
  padding-left: 20px;
}

.aboutmeRow1::after {
  content: "";
  clear: both;
  display: table;
}

.aboutMeText {
  line-height: 30pt !important;
}

#prom {
  border-radius: 10px;
  padding-top: 3vh;
}

#Switzerland {
  padding-top: 4vh;
}

#camp {
  padding-top: 2.5vh;
}

#TCUGrad1 {
  padding-top: 2vh;
}

/* FAVORITE THINGS LISTS */

.fave-row::after {
  content: "";
  clear: both;
  display: table;
}

.fave-column {
  float: left;
  width: 20%;
  padding: 5px;
}

.fave {
  display: inline-block;
  width: auto;
}



/* animation css formerly here */



/* CHROME ONLY */


/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .Pfp img:hover {
      opacity: .6;
      transition: .3s ease;
    }
}
