/* ------ Testing Responsive Mobile Design ------ */
@media screen and (max-width: 768px) {

  .MobilePanel {
    width: 100%;
    height: 20vh !important;
    background-color: #000033;
    z-index: 5;
  }

  .ToCPanel {
    visibility: hidden;
    pointer-events: none;
    max-width: 0% !important;
  }

  #infoPanel {
    width: 100% !important;
    border-radius: 10px !important;
  }

  .mainContainer {
    width: 100%;
    border-radius: 10px !important;
  }

  #welcomeContainer {
    width: 100%;
    border-radius: 10px !important;
  }

  .welcomeText {
    padding-top: 25vh !important;
  }

  #mapPanel {
    width: 100% !important;
    border-radius: 10px !important;
    overflow-y: scroll !important;
  }

  .japanRow {
    padding-top: 15vh !important;
  }

  #AfricaMap {
    padding-top: 2vh !important;
    width: 90% !important;

  }

  #JapanProp {
    padding-top: 1vh !important;
    width: 95% !important;
  }

  #VAProject {
    width: 90% !important;
  }

  #JapanVacationMap {
    width: 70% !important;
  }

  #WWIIMap {
    width: 98% !important;
    padding-top: 25%;
  }

  #JapanInteractiveMap {
    padding-top: 2vh !important;
  }

  .japanRow {
    padding-top: 1vh !important;
    overflow-y: scroll !important;
  }

  .japanColumn {
    padding-left: 25px !important;
    width: 95% !important;
    overflow-y: scroll !important;
    padding-top: 1vh !important;
  }

}

/* ------ End Test ------ */

/*  S T A R T   O F   D E S K T O P   S T Y L E S */

                /* ------ Main Div ------ */
.mainContainer {
  overflow: hidden;
  height: 100vh;
}

/* Table of Contents */
.ToCPanel {
  max-width: 25%;
  width: 25%;
  height: 100vh;
  flex: 100%;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #000033;
  overflow-x: hidden;
  padding-right: 17px;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -ms-overflow-style: none
}

/* Hidden Scroll for Chrome/Safari */
.ToCPanel::-webkit-scrollbar {
  display: none;
}

.Pfp {
  width: 50%;
  padding-top: 40px;
}

.mediaColumn {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.mediaRow {
  padding-top: 20px;
}

.mediaRow::after {
  content: "";
  clear: both;
  display: table;
}

.tableOfContents {
  color: #ffffff;
  font-size: 16pt;
  font-family: Quicksand;
  padding-top: 40px;
  font-style: bolder;
}

#footer{
  font-family: Quicksand;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  color: white;
  font-size: 8px;
  padding-right: 980px
}

            /* -------- About/Resume/Portfolio -------- */
#infoPanel {
  position: relative;
  float: right;
  flex: 75%;
  width: 75%;
  height: 100vh;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 0;
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: .3;
}

#welcomeContainer {
  width: 100%;
  height: 99vh
}

.welcomeText {
  color: white;
  font-family: Quicksand;
  padding-top: 21%;
}

.title {
  color: #333366;
  font-family: Quicksand;
  text-align: left;
  padding-left: 3%;
  font-size: 30pt;
}

.aboutMe {
  padding-left: 4%;
}

.aboutMeText {
  color: #333366;
  font-family: Quicksand;
  padding-left: 3%;
  padding-right: 3%;
}

.aboutMeLists {
  padding-left: 4%;
  line-height: 30pt;
}

.aboutMeList {
  color: #333366;
  font-family: Quicksand;
  padding-left: 5%;
  padding-right: 3%;
}

#bookList {
  padding-left: 0 !important;
}

        /* RESUME */
.resumeTitle {
  color: #333366;
  font-family: Quicksand;
  padding-left: 5%;
  padding-right: 3%;
  font-size: 18pt;
}

.resumeText {
  color: #333366;
  font-family: Quicksand;
  padding-left: 7%;
  padding-right: 3%;
  font-size: 12pt;
}

        /* PORTFOLIO */
.portfolioColumn {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.portfolioRow1 {
  padding-top: 20px;
}

.portfolioRow2 {
  padding-top: 20px;
}

.portfolioRow3 {
  padding-top: 20px;
}

.portfolioRow1::after {
  content: "";
  clear: both;
  display: table;
}

.portfolioRow2::after {
  content: "";
  clear: both;
  display: table;
}

.portfolioRow3::after {
  content: "";
  clear: both;
  display: table;
}

.brightness {
    display: inline-block;
    width: auto;
}
.brightness img:hover {
    border:2.5px solid #333366;
    box-shadow: 0 0 10px #333366;
    -webkit-box-shadow: 0 0 10px #333366;
    -moz-box-shadow: 0 0 10px #333366;
    -o-box-shadow: 0 0 10px #333366;
    -ms-box-shadow: 0 0 10px #333366;
    opacity: .8;
    transition: .2s ease;
}

.home {
  display: inline-block;
  width: auto;
}

.home img:hover {
  opacity: .4;
  transition: .4s ease;
}

.socialmedia {
  display: inline-block;
  width: auto;
}

.socialmedia img:hover {
  opacity: .5;
  transition: .3s ease;
}

        /* PORTFOLIO PAGES */
#mapPanel {
  position: relative;
  float: right;
  flex: 75%;
  width: 75%;
  height: 100vh;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 0;
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: .3;
}

#mapContainer {
  background-color: #4e54c8;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

#japanContainer {
  background-color: #4e54c8;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
}

#japanVacationContainer {
  background-color: #4e54c8;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

#mapbox {
  padding-top: .5%;
}

#bioshockContainer {
  background-color: #ffffcc;
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
}

.japanColumn {
  float: left;
  width: 50%;
  padding: 5px;
}

.japanRow::after {
  content: "";
  clear: both;
  display: table;
}

.japanRow {
  padding-top: 3%;
}

.aboutMeText {
  line-height: 30pt !important;
}

                      /* A N I M A T I O N   C S S */

.area{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100vh;
    overflow-y: scroll;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
